/* CSS DOCUMENT */
@charset "utf-8"; 
@font-face {
    font-family: "genesize";
    src: url(tipos/genesize-grotesk/GenesizeGroteskDemo.otf);
}

nav a {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 240, 211);
    text-decoration: none;
    padding: 30px;

}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    max-width: 1200px;
}

body{
    background-color: rgb(185, 35, 99);
    margin: 0;
}

#hero {
    background-image: url(imagenes/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh; 
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 400;   
}

#hero h1{
    font-family: "genesize", sans-serif;
    font-weight: 500;
    font-size: 450px;
    margin: 135px;
}

#hero h1, h3{
    color: rgb(255, 240, 211);
    line-height: 0;
}

h2 {
    font-family: "genesize", sans-serif;
    font-weight: 400;
    color:  rgb(255, 55, 140);
    font-size: 48px;
}

#sobre-mi {
    display: flex;
    background-color:  rgb(255, 240, 211);
    min-height: 80vh;
    justify-content: center;
}

#sobre-mi article {
    display: flex;    
    gap: 50px;

}

.perfil{
    margin: 30px;
}

.descripcion{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px 20px 0px;
}

.descripcion p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: rgb(255, 55, 140);
    text-align: justify;
    font-weight: 600;
    line-height: 25px;
    margin: 0;
    max-width: 900px;
}

.descripcion h2{
    margin: 0;
    text-align: start;
}

#trabajos{
    display: flex;
    min-height: 80vh;
    justify-content: center;
    background-image: url(imagenes/trama.png);
}




.mis-trabajos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}

.mis-trabajos h2{
    font-family: "genesize", sans-serif;
    font-weight: 400;
    color:  rgb(255, 240, 211);
    font-size: 120px;
    margin: 0;
    text-align: center;

}


.img-ejemplos{
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
}


footer{
    background-color: rgb(15, 2, 8);
    min-height: 30vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(255, 55, 140);
    gap: 30px;
}

.diseno{ 
    display: flex;
    background: 10vh; 
    background-color: black; font-family: 'Courier New', Courier, monospace; 
    color: rgb(255, 55, 140); display: flex; 
    justify-content: space-around;
}

figure {
  text-align: center;
}

figcaption {
    font-size: 16px;
    color: rgb(255, 55, 140);
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0px 55px 0px;
}

.bordes {
    border: 6px solid rgb(15, 2, 8);
    background-color: rgb(15, 2, 8);
    border-radius: 30px;
}
.volver a{
    font-family: "genesize", sans-serif;
    font-size: 40px;
    color: rgb(255, 55, 140);
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: space-around;
}

.links a{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: rgb(255, 240, 211);
    text-decoration: none;
}
